node_modules
dist
coverage

*.log*
.DS_Store

.history
.nyc_output

package-lock.json

.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml 
website/.yarn

tsconfig.tsbuildinfo

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next

# Bob the bundler
.bob/