node_modules/
dist/
coverage

*.log*
.DS_Store

.history
.nyc_output

package-lock.json

.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml

tsconfig.tsbuildinfo

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next/

.idea/
website/out/
website/public/sitemap.xml

# Bob the bundler
.bob/
